<div class="home-banner">
  <div class="banner-content">
    <h1>rBnB SHOW</h1>
    <p>Find great artists around you</p>
    <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
  </div>
</div>

<div class="container">
  <h1>Artists</h1>
    <div class="row">
      <% @artists.each do |artist| %>
        <div class="col-xs-12 col-sm-4 cards-col">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path artist.photo %>');">
            <div class="card-name"><%= artist.name %></div>
            <div class="card-category"><%= artist.category.name %></div>
            <div class="card-description">
              <p><%= artist.address %></p>
            </div>
            <div class="card-public">Spectacles pour : <strong><%= artist.public.label %></strong></div>
            <%= cl_image_tag(artist.avatar, class:"card-user") %>
            <%= link_to "", artist_path(artist), class:"card-link" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="map_artist">
      <div id="map" style="width: 100%; height: 600px;" data-markers='<%= @markers.to_json %>'></div>
    </div>
</div>
