<div class="artist-banner" style="background-image: url('<%= cl_image_path @artist.photo %>');" >
</div>
<div class="container artist_show">
  <div class="img_artist">
    <%= image_tag "chuck.jpg" %>
  </div>
  <div class="col-xs-12 bloc_name">
    <h1><%= @artist.name %></h1>
    <h4><%= @artist.category.name %></h4>
    <h4><%= @artist.public.label %></h4>
  </div>
  <div class="col-xs-12 card_artist">
    <div class="col-xs-6 bloc_detail">
      <span><i class="fas fa-map-marker-alt"></i></span>
      <p class="label_icon">Address</p>
      <p><%= @artist.address%></p>
    </div>
    <div class="col-xs-6 bloc_detail">
      <span><i class="fas fa-dollar-sign"></i></span>
      <p class="label_icon">Price</p>
      <p><%= @artist.hour_rate%>€/heure</p>
    </div>
  </div>
  <div class="col-xs-12 card_about">
    <div class="col-xs-6 bloc_detail">
      <h1>Description</h1>
      <p><%= @artist.description%></p>
    </div>
    <div id="reviews" class="col-xs-6" >
      <% if @lastbooking %>
      <%= render 'bookings/show' %>
      <% else %>
        <h3> Book this artist! </h3>
        <div class="form_booking">
        <%= simple_form_for [@artist, @booking] do |f| %>
        <%= f.input :check_in, as: :datetime, html5: true %>
        <%= f.input :check_out, as: :datetime, html5: true %>
        <%= f.submit "Confirm booking", class: "btn btn-success" %>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
