<div class="container artist_show">
  <div class="col-xs-4 img_artist">
    <%= image_tag "chuck.jpeg", height: 400, width: 300 %>
  </div>
  <div class="col-xs-8 bloc_name">
    <h1><%= @artist.name %></h1>
    <h4><%= @artist.category.name %></h4>
    <h4><%= @artist.public.label %></h4>
  </div>
  <div class="col-xs-12 card_artist">
    <div class="col-xs-4 bloc_detail">
      <span><i class="far fa-address-book"></i></span>
      <p class="label_icon">Description</p>
      <p><%= @artist.description%></p>
    </div>
    <div class="col-xs-4 bloc_detail">
      <span><i class="fas fa-map-marker-alt"></i></span>
      <p class="label_icon">Address</p>
      <p><%= @artist.address%></p>
    </div>
    <div class="col-xs-4 bloc_detail">
      <span><i class="fas fa-dollar-sign"></i></span>
      <p class="label_icon">Price</p>
      <p><%= @artist.hour_rate%>€/heure</p>
    </div>
  </div>
  <div class="col-xs-12 card_booking">
    <h1>Book me!</h1>
    <p>Form here to book an artist</p>
    <button type="button" name="button" class="book_btn btn btn-primary">Book now</button>
  </div>
  <div class="col-xs-12 card_reviews">
    <h1>Reviews</h1>
    <div class="col-xs-12 all_reviews">
      <div class="col-xs-4 review">
        <p>Great artist!</p>
      </div>
      <div class="col-xs-4 review">
        <p>Amazing!</p>
      </div>
      <div class="col-xs-4 review">
        <p>We loved it!</p>
      </div>
    </div>
  </div>
</div>
