<% start_time = @lastbooking.check_in.time.to_s(:time).to_i %>
<% end_time = @lastbooking.check_out.time.to_s(:time).to_i %>
<% total_time = end_time - start_time %>
<% hour_rate = @lastbooking.artist.hour_rate %>
<% total_price = total_time * hour_rate %>
<% plural = "" %>
<% if total_time <= 2
    plural == ""
  else
    plural == "s"
  end
%>

<div class="container">
  <div class="ticket">
    <%= image_tag("top-ticket.jpg", class: "top-ticket") %>
    <h1>Congrats!</h1>
    <p>You have booked <strong><%= total_time %></strong> <%= "hour".pluralize %> <br>for the artist <strong><%= @lastbooking.artist.name %></strong></p>
    <p>on <strong><%= @lastbooking.check_in.to_date.to_formatted_s(:long_ordinal) %></strong> <br>starting time <strong><%= @lastbooking.check_in.time.to_s(:time) %></strong></p>
    <p>to <strong><%= @lastbooking.check_out.to_date.to_formatted_s(:long_ordinal) %></strong> <br>ending time <strong><%= @lastbooking.check_out.time.to_s(:time) %></strong></p>
    <hr>
    <p><%= @lastbooking.artist.name %>'s hour rate is <%= @lastbooking.artist.hour_rate %>€ X <%= total_time %> hour</p>
    <hr>
    <p><strong>Total price to pay is <%= total_price %>€</strong></p>
    <%= image_tag("bottom-ticket.jpg", class: "bottom-ticket") %>
  </div>
  <div class="col-xs-12 col-md-6">
    <%= render "reviews/review" if @lastbooking.review.nil? %>
  </div>
</div>
