<% start_time = @booking.check_in.time.to_s(:time).to_i %>
<% end_time = @booking.check_out.time.to_s(:time).to_i %>
<% total_time = end_time - start_time %>
<% hour_rate = @booking.artist.hour_rate %>
<% total_price = total_time * hour_rate %>
<% plural = "" %>
<% if total_time <= 2
    plural == ""
  else
    plural == "s"
  end
%>

<div class="container">
  <div class="ticket">
    <h1>Congrats!</h1>
    <p>You have booked <strong><%= total_time %></strong> hour<%= plural %> for the artist <strong><%= @booking.artist.name %></strong></p>
    <p>on <strong><%= @booking.check_in.to_date.to_formatted_s(:long_ordinal) %></strong> starting time <strong><%= @booking.check_in.time.to_s(:time) %></strong></p>
    <p>to <strong><%= @booking.check_out.to_date.to_formatted_s(:long_ordinal) %></strong> ending time <strong><%= @booking.check_out.time.to_s(:time) %></strong></p>
    <hr>
    <p><%= @booking.artist.name %>'s hour rate is <%= @booking.artist.hour_rate %>€ X <%= total_time %> hour</p>
    <hr>
    <p><strong>Total price to pay is <%= total_price %>€</strong></p>
    <img src="https://assets.gumroad.com/assets/email/email_body_bottom_receipt-0c5f3b40293533003609f67accf86f3a58f21bd6d2be70e852c965112faaad25.png" alt="" class="botom-ticket">
  </div>
</div>
